.main {
    .right {
        .content {
            .table {
                margin-top: 20px;
                th, td {
                    text-align: center;
                    vertical-align: middle;
                }
            }
        }
    }
}