.lt-content {
    .lt-main {
        display: flex;
        .left {
            position: relative;
            flex-basis: 120px;
            height: 100%;
            // border: 3px solid #000;
            div {
                width: 100%;

                ul {
                    display: flex;
                    width: 100%;
                    flex-wrap: wrap;

                    li {
                        width: 100%;
                        height: 50px;

                        a {
                            display: block;
                            color: #666;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            line-height: 60px;
                            border: 1px solid #666;
                        }
                        margin-bottom: -1px;
                    }
                }
            }
        }

        .right {
            position: relative;
            flex: 1;
            height: 100%;
            // border: 3px solid #000;

            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    width: 50%;
                    a {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                        p {
                            color: #666;
                        }
                    }
                }
            }
        }
    }
}