<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="./lib/fa/css/font-awesome.min.css">
    <link rel="stylesheet" href="./lib/mui/css/mui.min.css">
    <link rel="stylesheet" href="./css/product.css">

    <script src="./lib/zepto/zepto.min.js"></script>
    <script src="./lib/artTemplate/template-web.js"></script>
    <script src="./lib/mui/js/mui.min.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/product.js"></script>
</head>
<body>
    <div class="contanier">
        <header>
            <a class="left mui-icon mui-icon-back"></a>
            <p class="title">乐淘云购</p>
            <a href="./search.html" class="right fa fa-search"></a>
        </header>
        <main>
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                        <div class="banner">
                                <div class="mui-slider">
                                    <!-- 商品的图片 -->
                                </div>
                            </div>
                        
                            <div class="detail">

                            </div>
                </div>
            </div>

            <script type="text/html" id="banner">
                <div class="mui-slider-group mui-slider-loop">
                    {{each pic}}
                    <div class="mui-slider-item">
                        <a href="">
                            <img src="{{$value.picAddr}}" alt="">
                        </a>
                    </div>
                    {{/each}}
                </div>

                <div class="mui-slider-indicator">
                    {{each pic v i}}
                    <div class="mui-indicator {{if i == 0}}mui-active{{/if}}"></div>
                    {{/each}}
                </div>
            </script>

            <script type="text/html" id="detail">
                <!-- 商品的详细信息 -->
                <a class="proName">{{proName}}</a>
                <a class="price">价格： ￥{{price}} <span class="oldPrice">￥{{oldPrice}}</span></a>
                <a class="size">
                    尺码：
                    <% var size = size; %>
                    <% var min = size.split("-")[0]; var max = size.split("-")[1]; %>
                    <% for (var i = min; i <= max; i++) { %>
                        <span {{if i == min}}class="active"{{/if}}>{{i}}</span>
                    <% } %>
                </a>
                <a class="num">
                    <div class="">库存：</div>
                    <div class="mui-numbox" data-numbox-step="1" data-numbox-min="0" data-numbox-max="100">
                            <!-- "-"按钮，点击可减小当前数值 -->
                            <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
                            <input class="mui-numbox-input" type="number" />
                            <!-- "+"按钮，点击可增大当前数值 -->
                            <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
                    </div>
                    <span class="left">还剩下{{num}}件</span>
                </a>
                <a>{{proDesc}}</a>
            </script>


        </main>

        <div class="buybar">
                <a href="" class="mui-pull-left">去购物车</a>
                <button type="button" class="mui-btn mui-btn-warning mui-pull-right">立即购买</button>
                <button type="button" class="mui-btn mui-btn-danger mui-pull-right">加入购物车</button>
        </div>

        <footer>
            <a href="./index.html" class="active">
                <span class="icon fa fa-home"></span>
                <span class="title">首页</span>
            </a>
            <a href="./category.html">
                <span class="icon fa fa-bars"></span>
                <span class="title">分类</span>
            </a>
            <a href="./car.html">
                <span class="icon fa fa-shopping-cart"></span>
                <span class="title">购物车</span>
            </a>
            <a href="./user.html">
                <span class="icon fa fa-user"></span>
                <span class="title">我的</span>
            </a>
        </footer>
    </div>

    <script>
        //实现页面的内部滚动
        mui('.mui-scroll-wrapper').scroll({
            deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
        });

        //获得slider插件对象
        var gallery = mui('.mui-slider');
        gallery.slider({
            interval:1000//自动轮播周期，若为0则不自动播放，默认为0；
        });
    </script>
</body>
</html>

