* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: none;
}

ul, ol {
  list-style: none;
}

html, body {
  height: 100%;
}

main {
  padding-left: 180px;
  width: 100%;
  display: flex;
  height:100%;
  position: relative;
  transition: all 1s;

  &.now {
    padding-left: 0px;
  }

  .left {
    position: absolute;
    left: 0;
    top: 0;
    width: 180px;
    background-color: #222d32;
    height: 100%;
    transition: all 1s;

    &.now {
      left: -180px;
    }

    .title {
      background-color: #367fa9;
      color: white;
      line-height: 50px;
      height:50px;
      text-align: center;
      margin: 0px;
      font-weight: bold;
      font-size:24px;
    }

    .icon {
      width: 100%;
      height: 180px;
      display: flex;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }

      .role {
        color: #fff;
        margin: 10px 0px;
        font-size:18px;
      }


    }

    .menu {
      padding: 0;
      margin: 0;
      // background-color: tomato;
      list-style: none;

      .active {
        border-left-color: #069;
        background-color: #1d1f21;
      }

      li {
        width: 100%;
        padding: 0;


        a {
          padding-left: 20px;
          height: 40px;
          display: block;
          width: 100%;
          color: white;
          line-height: 40px;
          margin: 0px 0px;
          width: 100%;
          text-decoration: none;
          border: 3px solid transparent;

  
          span {
            margin: 0px 5px;
          }
        }  



        .submenu {
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: space-around;
          align-items: flex-start;
          display: none;

          a {
            width: 100%;
            padding-left: 50px;
          }
        }
      }

    }
  }

  .right {
    position: relative;
    width: 100%;
    background-color: yellow;
    
    .topbar {
      background-color: #3c8dbc;
      height: 50px;

      a {
        color: white;
        font-size: 18px;
        text-decoration: none;
        line-height: 50px;
        margin: 0px 20px;
      }
    }
  }
}

